ul {
	display: flex;
	justify-content: space-evenly;
	height: 525px;
	width: 1200px;
	list-style: none;
	position: relative;
}

li {
	padding-top: 1rem;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	border: 2px solid black;
	border-radius: 0.5rem;
	background-color: #F7F7F7;
}

span {
	display: block;
	width: 250px;
	height: 290px;
	background: url(./0-sprite.png);
	padding: 2rem;
	padding-top: 4rem;
}

.i-html {
	background-position: top 25px left 15px;
}

.i-css {
	background-position: top 25px left -275px;
}

.i-js {
	background-position: top 25px right 15px;
}
